<ul class="post-list">
  {%- for post in postslist | reverse -%}
    <li>
      <strong>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </strong>
      -
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      -
      <p>{{ post.data.description }}</p>
    </li>
  {%- endfor -%}
</ul>
