body {
  margin: 0;
  color: white;
  background-color: #262a46;
  font-family: sans-serif;



  background-color:black;
  background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;


  

  margin: 1rem;

  img {
    max-width: 60vw;
    margin: 0 auto;
    display: block;
    mix-blend-mode: lighten;
  }

  ul.post-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem 1rem;

    li {
      border: 1px solid white;
      padding: 1rem;
      margin-bottom: 1rem;
    }

    a {
      color: beige;
      &:visited {
        color: peachpuff;
      }
    }
  }

}

